

hero{
    display: flex;
    justify-content: center;
    background-image: url("imginter.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
}


menu{
    display:flex;
    justify-content:center;
}
menu ul{
    padding: 0;
    margin: 0;
    background-color:#2F7B95;
    display: flex;
}
menu li{
    padding: 0;
    list-style: none;
}
h1{
  
    font-style:Comic Sans;
    
}
h2{
 
    font-style:Arial;
    
}
#selfie{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px ; height: 200px ;
        padding-block: 50 ;
      }
p{
    text-align: center;
    font-weight: 500;
}


button{
    color:black;
    font-size: large;
    font-weight: 600;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 30 px 20 px;

}

.show{
   display:block;
}

footer{
    text-align: center;
    font-size: small;
}
#texto3{
   display:none;
}
#texto2{

   display:none;

}
   
#texto1{
   display:none;
}
