.hero {
    display: flex;
    justify-content: space-between; /* Asegura que el texto esté a la izquierda y la imagen a la derecha */
    align-items: center;
    background-image: url("claro1.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 0 20px; /* Añade un poco de padding lateral */
}

.text-container {
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

#selfie {
    width: 250px; /* Aumenta el ancho de la imagen */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-left: auto; /* Mantén la imagen alineada a la derecha */
    margin-right: 0; /* Asegura que no haya margen a la derecha */
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

menu {
    display: flex;
    justify-content: center;
    background-color: #2F7B95; /* Color de fondo del menú */
    padding: 10px; /* Espaciado del menú */
}

menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

menu li {
    margin: 0 10px; /* Espacio entre los elementos del menú */
}

button {
    color: black;
    font-size: large;
    font-weight: 600;
    border: none;
    background-color: #fff; /* Color de fondo del botón */
    padding: 10px 20px; /* Espaciado dentro del botón */
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón */
}

h1 {
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif; /* Fuente para el título */
}

h2 {
    color: black;
    font-family: Arial, sans-serif; /* Fuente para el subtítulo */
}



p {
    text-align: center;
    font-weight: 500;
}

footer {
    text-align: center;
    font-size: small;
}

#texto3,
#texto2,
#texto1 {
    display: none; /* Ocultar los textos inicialmente */
}

